.partie{
	float:left;
	border: solid 1px black;
	margin-right: 20px;
	padding: 10px;
	text-align: center;
}

.partie span{
	color: red;
}

.aff7seg3{
	max-width: 	30px;
}

.aff7seg4{
	max-width: 	40px;
}

.aff7seg5{
	max-width: 	50px;
}